@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4d2f9;
  height: auto;
}

.main {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5e16b6;
}

.alert {
  padding: 10px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  border-radius: 7px;
  position: fixed;
  /* top: 4%;
    left: 45%; */
  top: 3px;
  left: 15%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  color: #fff;
  transition: all 0.3s;
  /* animation-name: fadeIn;
    animation-duration: 2s; */
}

/* @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
  } */

.alert--success {
  background-color: #02a502;
}

.alert--error {
  background-color: #d80808;
}

.box {
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
}

p {
  line-height: 1.7;
}

.company {
  font-weight: bold;
  margin-bottom: .7rem;
}

.container__form {
  /* margin-top: 1rem; */
  height: auto;
  width: 100%;
  background-color: #cbbddc;
  border-radius: 5px;
  padding: 10px;
}

#item__form {
  padding: 20px;
}

#item__form > :not(:last-child) {
  margin-bottom: 1rem;
}

.form__group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input,
textarea {
  /* width: 300px; */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
}

input:focus {
  outline: none;
}

.buttons {
  display: inline-block;
}

.btn__submit {
  cursor: pointer;
  padding: 7px 10px;
  background-color: #5e16b6;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-family: "Nunito", sans-serif;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 7%;
  right: 7%;
}

img {
  width: 60px;
  border-radius: 50%;
}
